.root {
    -fx-font-family: "Segoe UI", sans-serif;
}

.list-view {
    -fx-background-color: #34495e;
    -fx-text-fill: white;
}

.button {
    -fx-background-color: #1abc9c;
    -fx-text-fill: white;
}
